<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-color-positive">

    <!-- Livros Tab -->
    <ion-tab title="Livros" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/app/books">
        <ion-nav-view name="tab-books"></ion-nav-view>
    </ion-tab>

    <!-- Sobre Tab -->
    <ion-tab title="Sobre" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/app/about">
        <ion-nav-view name="tab-about"></ion-nav-view>
    </ion-tab>

</ion-tabs>
